a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.body_bg {
  background-color: #222D32;
}
.panel .panel-heading {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0;
}

.mt_150 {
  margin-top: 150px;
}


/*乐淘侧边栏*/
.lt_aside{
  width: 180px;
  height: 100%;
  position: fixed;
  top:0;
  left: 0px;
  background-color: #222D32;
  z-index: 999;
}

.lt_aside .brand{
  height: 50px;
  width: 100%;
  line-height: 50px;
  color: white;
  background-color: #367FA9;
  text-align: center;
}

.lt_aside .brand a{
  color: #fff;
  font-size: 25px;
}

.lt_aside .user{
  height: 180px;
  padding-top: 30px;

}

.lt_aside .user img{
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.lt_aside .user p{
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size:20px;
  color: #fff;
  text-align: center;
}

.lt_aside .nav a{
  display: block;
  height: 40px;
  width: 100%;
  color: #fff;
  line-height: 40px;
  padding-left: 40px;
  border-left: 1px solid transparent;
}

.lt_aside .nav a.current{
  background-color: #1D1F21;
  border-left: 1px solid #006699;
}

.lt_aside .nav i{
  margin-right: 5px;
}

.lt_aside .nav .child a{
  padding-left: 60px;
}




.lt_main{
  height: 1000px;
  width: 100%;
  background-color: pink;
  padding-left: 180px;
  padding-top: 50px;
  }



  .lt_topbar{
    height: 50px;
    width: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    background-color: #3C8DBC;
    padding-left: 180px;
  }

.lt_topbar .icon_menu,
.lt_topbar .icon_logout{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.lt_main .breadcrumb{
  margin-top: 20px;

}